html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

.header {
  padding: 200px 0 50px 0;
  min-height: 390px;
  background: url(./images/Map.png) no-repeat bottom right #222222;
  margin-bottom: 20px;
}

.app-title {
  text-align: center;
  margin-bottom: 50px;
  color: white;
}

.input-group {
  margin: 0 auto;
}

.country-container {
  margin: 0 auto;
  width: 600px;
}
