<ul class="list-unstyled">
    {{#each this}}
    <li class="media">
        <img src="{{flag}}" class="mr-3" alt="{{name}}" style="width: 100px;">
        <div class="media-body">
            <h5 class="mt-0 mb-1">{{name}}</h5>
        </div>
    </li>
    {{/each}}
</ul>